%% -*- mode: Erlang;-*-
{erl_opts,  [debug_info, {parse_transform, lager_transform}]}.
{sub_dirs, ["apps/querl", "apps/frontend"]}.
{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy"}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx"}},
        {lager, ".*", {git, "https://github.com/basho/lager.git"}}
       ]}.
